.homeWrapper{
	background-image: url(http://www.roncorso.com/data/photos/76_1blue_martini_couples.jpg);
    background-repeat: no-repeat;
    padding-bottom: 7.5em;      /*FIX THIS*/
    background-size: cover;
}
body h3, body h4{
    color: #711371;
    padding: 0.2em;
}
.wrapper{
    background-image: url("ZenBG.png")
}
.navbar-header{
    margin-top: 0.3em;
}
.signup{
    margin-top:1em;
}
html .navbar-default{
	background-color:#22514E;
}
.welcomeMessage{
	color: white;
}
.welcomeMessage p{
	font-size: 1.5em;
	margin-top: 1em;
	color: white;
}
.loginForm{
	margin-top: 3.5em;
	background-color: white;
	border-radius: 0.7em;
}
.loginFormInner{
	padding-top: 0.8em;
}
.loginButton{
	margin-left: 7em;
	height: 2.5em;
	margin-top: -0.8em;
}
.signupForm{
	background-color: white;
	border-radius: 0.7em;
}
.signupButton{
    margin-bottom:0.5em;
}
.signupFormInner{
	padding-top: 0.8em;
}
.menuItems li{
    display:inline;
    padding: 1em;
    text-decoration: none;
}
.menuItems a{
    color: white;
}
.menuItems ul{
    margin-top: 1em;
}
.groupMenu li{
    border-bottom: 0.1em solid lightgrey;
    border-right: 0.1em solid lightgrey;
    display:block;
    padding: 1em;
}
.groupMenu li a{
    color:black;
}
.tableWrapper{
    padding-top: 2em;
    border: 0.1em solid lightgrey;
}
html .table thead tr th{
    border-bottom: none;
}
.shaftWrapper, .historyWrapper{
    padding: 2em;
}
.shafterAction{
    padding: 0.5em;
    display:block;
}
.shafterAction a{
    color: black
}
.row button{
    margin-left: 1em;
}
html body .amountInput, html body .descriptionInput{
    width:60%;
}
