.homeWrapper{
	background-image: url(http://www.roncorso.com/data/photos/76_1blue_martini_couples.jpg);
    background-repeat: no-repeat;
    padding-bottom: 7.5em;      /*FIX THIS*/
    background-size: cover;
}
.signup{
    margin-top:1em;
}
html .navbar-default{
	background-color:white;
}
.welcomeMessage{
	color: white;
}
.welcomeMessage p{
	font-size: 1.5em;
	margin-top: 1em;
	color: white;
}
.loginForm{
	margin-top: 3.5em;
	background-color: white;
	border-radius: 0.7em;
}
.loginFormInner{
	padding-top: 0.8em;
}
.loginButton{
	margin-left: 7em;
	height: 2.5em;
	margin-top: -0.8em;
}
.signupForm{
	background-color: white;
	border-radius: 0.7em;
}
.signupButton{
    margin-bottom:0.5em;
}
.signupFormInner{
	padding-top: 0.8em;
}
.menuItems ul{
    margin-right: 5em;
}
.menuItems li{
    display:inline;
    padding: 1em;
    text-decoration: none;
}
.menuItems li a{
    color:grey;
    font-family: Sans serif;
}
.glyphicon-user{
    color: #C3882C;
    margin-left:1.2em;
}
.userGroups li {
    display: block;
    padding: 0.5em;
    color: #5E5B5B;
}
.userGroups h3{
    margin-left:1.8em;
    padding-bottom: 1em;
}
.userGroups li a{
    color: #5E5B5B;
}
.newGroup{
    margin-top: 1em;
}
.shaft{
    margin-left: 3em;
}
.header h2, .header h4{
    color:green;
    text-align: center;
    margin-top: 1.3em;
}
 .line{
    border-bottom: 0.1em solid grey;
    margin-top: 2em;
 }
 .mainContentWrapper{
    margin-top: 4em;
 }
 .mainContent{
    text-align: center;
 }
 .mainContent li{
    display: inline-block;
    padding: 0.7em;
 }
 .mainContent h3, .mainContent h4{
    margin-left: 1.5em;
    margin-bottom: 1.8em;
 }
 .badge{
    margin-left: 1em;
 }


