<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <title>Milked</title>
</head>
<body class="genericWrapper">
<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid nav-bar">
            <div class="navbar-header">
                <a class="navbar-logo" href="#">
                    <img src="/img/milked.png"/>
                </a>
            </div>
            <div class="navbar-right menuItems">
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h3>Something went wrong, click <a href="landing.html">here</a> to go to the homepage</h3>
    </div>
</div>
</body>
</html>