<!DOCTYPE html>
<html lang="en" ng-app="milked">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/update/update.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <title>Milked</title>
</head>
<body class="homeWrapper">
<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid nav-bar">
            <div class="navbar-header">
                <a class="navbar-logo" href="#">
                    <img src="/img/milked.png"/>
                </a>
            </div>
            <div class="navbar-right menuItems">
            </div>
        </div>
    </nav>
    <div>
        <div class="col-md-4 col-md-offset-2 welcomeMessage">
            <h1><strong>Welcome to Milked.</strong></h1>

            <p>Milked allows you to create or join groups with friends and family to keep track of money going around
                daily between members</p>
        </div>
    </div>
    <div class="signup">
        <div class="col-md-3 col-md-offset-1 signupForm" ng-controller="UpdateController">
            <form ng-show="!hasRegistered" role="form" class="signupFormInner">
                <div class="formHeader">
                    <h4>Finish your registration</h4>
                </div>
                <div class="form-group">
                    <input ng-model="invitedUserDetails.name" type="name" class="form-control" id="name"
                           placeholder="full name"/>
                </div>
                <div class="form-group">
                    <input ng-model="invitedUserDetails.password" type="password" class="form-control" id="pwd"
                           placeholder="password"/>
                </div>
                <div ng-show="updateNewUserDetailsError">
                    <small style="color:red"><strong>Invalid name or Password</strong></small>
                </div>
                <input type="hidden" th:value="${uuid}" id="uuid"/>
                <div class="signupButton">
                    <button type="submit" class="btn btn-primary signupButton" ng-click="updateNewUserDetails()">
                        Submit Details
                    </button>
                    <small ng-show="successfulUserUpdate" style="color:green">Successful update, click <a
                            href="/">here</a> to proceed
                    </small>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>