<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="milked">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/js/group/group.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <title>Milked</title>
</head>
<body ng-controller="GroupController">
<div class="container-fluid wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid nav-bar">
            <div class="navbar-header">
                <a class="navbar-logo" href="#">
                    <img src="/img/milked.png"/>
                </a>
            </div>
            <div class="navbar-right menuItems">
                <ul>
                    <li>
                        <form method="post" th:action="@{/logout}">
                            <button type="submit" class="btn btn-primary loginButton">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-2 groupMenu">
        <ul>
            <li ng-repeat="group in groups"><a ng-click="getGroupDetails(group.id)">
                <strong>{{ group.name }}</strong></a><br></br>
                <small>Group members: {{ group.milkedUsers.length }}</small>
                <br></br>
                <small ng-click="leaveGroup(group)"><a href=" ">Leave group</a></small>
            </li>
        </ul>
        <div class="createGroupInput createGroup">
            <input ng-model="groupRequest.name" type="text" class="form-control" placeholder="New Group"/>
        </div>
        <div class="createGroup">
            <button type="submit" class="btn btn-primary createGroupButton" ng-click="createGroup()">Create group
            </button>
        </div>
    </div>
    <div class="col-md-10 content">
        <div class="row headerRow">
            <div class="col-md-4 col-md-offset-1">
                <h3><strong>CIRRUS
                </strong>
                    <small><strong>-You owe 52.30-</strong></small>
                </h3>
            </div>
            <div class="col-md-5 col-md-offset-2 inviteWrapper">
                <div ng-show="hasGroupId">
                <h5><strong>Invite someone to the group</strong></h5>
                <input ng-model="emailBody.email" type="email" class="form-control inviteInput"
                       placeholder="Enter Email"/>
                <button type="submit" class="btn btn-primary btn-sm inviteButton" ng-click="inviteUser()">Invite
                </button>
                    <div ng-show="successfulUserInvite" id="successfulInviteMessage">
                        <small style="color:green">User successfuly invited</small>
                    </div>
                    <div ng-show="unsuccessfulUserInvite">
                        <small style="color:red">Invalid Email</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 tableWrapper">
            <h4>Leader Boards</h4>

            <div class="col-md-5 leaderTableWrapper">
                <table class="table">
                    <thead>
                    <th>Top 3</th>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="milkedUser in groupDetails.milkedUsers">
                        <td>{{ milkedUser.name }}<span class="leaderboardGlyph"
                                        aria-hidden="true"></span></td>
                        <td>{{ milkedUser.balance }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-md-offset-1 looserTableWrapper">
                <table class="table">
                    <thead>
                    <th>Bottom 3</th>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Irini</td>
                        <td>12.32</td>
                    </tr>
                    <tr>
                        <td>Helena</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Dud<span class="glyphicon glyphicon-thumbs-down looserboardGlyph" aria-hidden="true"></span>
                        </td>
                        <td>-12</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 tableWrapper">
            <div class="col-md-12">
                <div class="col-md-3 milkWrapper">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Milker</h4>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only">Amount</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">Pound</div>
                                        <input type="text" class="form-control milkInput" placeholder="Amount"
                                               ng-model="milkingTransactionRequest.amount"/>
                                    </div>
                                </div>
                            </form>
                            <div class="milkDescriptionInput">
                                <input type="description" class="form-control"
                                       placeholder="i.e: Pint of Beer"
                                       ng-model="milkingTransactionRequest.description"/>
                            </div>
                            <ul class="milkerAction">
                                <div ng-show="selfMilk">
                                    <small style="color:red">You can't attempt a transaction with yourself</small>
                                </div>
                                <div ng-show="transactionOk">
                                    <small style="color:green">Transaction successful</small>
                                </div>
                                <li ng-repeat="milkedUser in groupDetails.milkedUsers" class="milkerAction"><a href="#">
                                    {{milkedUser.name}}
                                </a>
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary btn-sm milkButton"
                                                ng-click="milk(milkedUser.id)">Milk
                                        </button>
                                        <button type="submit" class="btn btn-danger btn-sm milkedMeButton"
                                                ng-click="milked(milkedUser.id)">Milked Me
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 historyWrapper">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>History</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                <tr ng-repeat="milkingTransaction in milkingTransactions">
                                    <td>{{milkingTransaction.createDate}}</td>
                                    <td>{{milkingTransaction.milker.name}} milked {{milkingTransaction.milkee.name}}
                                        {{milkingTransaction.amount}} for a {{milkingTransaction.description}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>