<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <title>Milked</title>
</head>
<body>
<div class="container-fluid wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid nav-bar">
            <div class="navbar-header">
                <a class="navbar-logo" href="#">
                    <img src="img/milked.png"/>
                </a>
            </div>
            <div class="navbar-right menuItems">
                <ul>
                    <li>
                        <form method="post" th:action="@{/logout}">
                            <button type="submit" class="btn btn-primary loginButton">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-primary loginButton" ng-click="login()">Log in</button>
    </nav>
    <div class="col-md-2 groupMenu">
        <ul>
            <li><a href="#"><strong>Cirrus</strong></a><br></br>
                <small>Group members: 6</small>
                <br></br>
                <small><a href=" ">Leave group</a></small>
            </li>
            <li><a href="#"><strong>Home</strong></a><br></br>
                <small>Group Members: 4</small>
                <br></br>
                <small><a href=" ">Leave group</a></small>
            </li>
            <li><a href="#"><strong>Work</strong></a><br></br>
                <small>Group Members: 7</small>
                <br></br>
                <small><a href=" ">Leave group</a></small>
            </li>
            <li><a href="#"><strong>Gym</strong></a><br></br>
                <small>Group Members: 3</small>
                <br></br>
                <small><a href=" ">Leave group</a></small>
            </li>
        </ul>
        <div class="createGroupInput createGroup" ng-controller="GroupController">
            <input ng-model="groupRequest.name" type="text" class="form-control" placeholder="New Group"/>
        </div>
        <div class="createGroup">
            <button type="submit" class="btn btn-primary createGroupButton" ng-click="createGroup()">Create group
            </button>
        </div>

    </div>
    <div class="col-md-10 content">
        <div class="row headerRow">
            <div class="col-md-4 col-md-offset-1">
                <h3><strong>CIRRUS</strong>
                    <small><strong>-You owe 52.30-</strong></small>
                </h3>
            </div>
            <div class="col-md-5 col-md-offset-2 inviteWrapper">
                <h5><strong>Invite someone to the group</strong></h5>
                <input type="email" class="form-control inviteInput" placeholder="Enter Email"/>
                <button type="submit" class="btn btn-primary btn-sm inviteButton">Invite</button>
            </div>
        </div>
        <div class="col-md-12 tableWrapper">
            <h4>Leader Boards</h4>

            <div class="col-md-5 leaderTableWrapper">
                <table class="table">
                    <thead>
                    <th>Top 3</th>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Savvas<span class="glyphicon glyphicon-thumbs-up leaderboardGlyph"
                                        aria-hidden="true"></span></td>
                        <td>52.30</td>
                    </tr>
                    <tr>
                        <td>Joe</td>
                        <td>33.00</td>
                    </tr>
                    <tr>
                        <td>Maria</td>
                        <td>24.12</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-md-offset-1 looserTableWrapper">
                <table class="table">
                    <thead>
                    <th>Bottom 3</th>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Irini</td>
                        <td>12.32</td>
                    </tr>
                    <tr>
                        <td>Helena</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Dud<span class="glyphicon glyphicon-thumbs-down looserboardGlyph" aria-hidden="true"></span>
                        </td>
                        <td>-12</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 tableWrapper">
            <div class="col-md-12">
                <div class="col-md-3 milkWrapper">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Milker</h4>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only">Amount</label>

                                    <div class="input-group">
                                        <div class="input-group-addon">Pound</div>
                                        <input type="text" class="form-control milkInput" placeholder="Enter Amount"/>
                                    </div>
                                </div>
                            </form>
                            <div class="milkDescriptionInput">
                                <input type="description" class="form-control"
                                       placeholder="i.e: Pint of Beer"/>
                            </div>
                            <div class="milkLocationInput">
                                <input type="place" class="form-control"
                                       placeholder="Where? i.e: Pub"/>
                            </div>
                            <ul class="milkerAction">
                                <li class="milkerAction"><a href="#">Joe</a>

                                    <div class="row">
                                        <button type="submit" class="btn btn-primary btn-sm milkButton">Milk</button>
                                        <button type="submit" class="btn btn-danger btn-sm milkedMeButton">Milked Me
                                        </button>
                                    </div>
                                </li>
                                <li class="milkerAction">
                                    <a href="#">Savvas</a>

                                    <div class="row">
                                        <button type="submit" class="btn btn-primary btn-sm milkButton">Milk</button>
                                        <button type="submit" class="btn btn-danger btn-sm milkedMeButton">Milked Me
                                        </button>
                                    </div>
                                </li>
                                <li class="milkerAction">
                                    <a href="#">Irini</a>

                                    <div class="row">
                                        <button type="submit" class="btn btn-primary btn-sm milkButton">Milk</button>
                                        <button type="submit" class="btn btn-danger btn-sm milkedMeButton">Milked Me
                                        </button>
                                    </div>
                                </li>
                                <li class="milkerAction">
                                    <a href="#">Maria</a>

                                    <div class="row">
                                        <button type="submit" class="btn btn-primary btn-sm milkButton">Milk</button>
                                        <button type="submit" class="btn btn-danger btn-sm milkedMeButton">Milked Me
                                        </button>
                                    </div>
                                </li>
                                <li class="milkerAction">
                                    <a href="#">Helena</a>

                                    <div class="row">
                                        <button type="submit" class="btn btn-primary btn-sm milkButton">Milk</button>
                                        <button type="submit" class="btn btn-danger btn-sm milkedMeButton">Milked Me
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 historyWrapper">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>History</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>5 April 2015</td>
                                    <td>Joe milked Savvas 5.25 for a really amazing cold pint of beer at
                                        Westfields
                                    </td>
                                </tr>
                                <tr>
                                    <td>4 April 2015</td>
                                    <td>Savvas milked Joe 3.30 for a sandwich at the Broadway</td>
                                </tr>
                                <tr>
                                    <td>3 April 2015</td>
                                    <td>Irini milked Maria 1.20 for a juice at the Park</td>
                                </tr>
                                <tr>
                                    <td>3 April 2015</td>
                                    <td>Maria milked Joe 2.20 for a beriyani at Delivery</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>