<!DOCTYPE html>
<html lang="en" ng-app="milked">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/register/register.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta charset="utf-8"/>
    <title>Milked</title>
</head>
<body class="homeWrapper">
<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid nav-bar">
            <div class="navbar-header">
                <a class="navbar-logo" href="#">
                    <img class="loginImage" src="/img/milked.png"/>
                </a>
            </div>
            <div class="navbar-right menuItems">
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 welcomeMessage">
            <h1><strong>Welcome to Milked.</strong></h1>

            <p>Milked allows you to create or join groups with friends and family to keep track of money going around
                daily between members</p>
        </div>
        <div class="col-md-3 col-md-offset-1 loginForm">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <div class="formHeader">
                        <h4>Already a member? <strong>Log in</strong></h4>
                    </div>
                    <input name="username" type="email" class="form-control" placeholder="email"/>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control"
                           placeholder="password"/>
                </div>
                <div ng-show="hasLoginErrors" class="errorMessage">
                    <small><strong>Unrecognized email/password</strong></small>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"/> Remember me</label>
                    <button type="submit" class="btn btn-primary loginButton" ng-click="login()">Log in</button>
                    <small><a href="/passwordRecovery.html">Forgot Password?</a></small>
                </div>
            </form>
        </div>
    </div>
    <div class="row signup">
        <div class="col-md-3 col-md-offset-7 signupForm" ng-controller="RegistrationController">
            <div ng-show="hasRegistered" class="registeredMessage">
                <h4 class="registerMessageHead">Thank you for registering!</h4>
                <h4 class="registerMessageBody">An activation email has been sent to the provided email address.</h4>
            </div>
            <form ng-show="!hasRegistered" role="form" class="signupFormInner">
                <div class="formHeader">
                    <h4>New to Milked? <strong>Sign up</strong></h4>
                </div>
                <div class="form-group">
                    <input ng-model="registrationRequest.name" type="name" class="form-control" id="name"
                           placeholder="full name"/>
                </div>
                <div class="form-group">
                    <input ng-model="registrationRequest.email" type="email" class="form-control" id="email"
                           placeholder="email"/>
                </div>
                <div class="form-group">
                    <input ng-model="registrationRequest.password" type="password" class="form-control" id="pwd"
                           placeholder="password"/>
                </div>
                <div ng-show="hasRegisterErrors" class="errorMessage">
                    <small><strong>Invalid fields or Email has already been registered</strong></small>
                </div>
                <div class="signupButton">
                    <button type="submit" class="btn btn-primary signupButton" ng-click="registerUser()">
                        Sign Up for Milked
                    </button>
                    <img class="registerSpinner" ng-show="registrationIsLoading" src="/img/ajax-loader-circle.gif"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>