.homeWrapper{
	background-image: url("http://www.roncorso.com/data/photos/76_1blue_martini_couples.jpg");
    background-size: cover;
    padding-bottom: 11em;
}
body h3, body h4{
    padding: 0.2em;
}
.wrapper{
    background-image: url("img/ZenBG3.png");
    background-size: cover;
}
html .navbar-default{
	background-color:#337AB7;
}
.welcomeMessage{
	color: white;
}
.welcomeMessage p{
	font-size: 1.5em;
	margin-top: 1em;
	color: white;
}
.loginForm{
	background-color: white;
	border-radius: 0.7em;
}
.loginFormInner{
	padding-top: 0.8em;
}
.loginButton{
	margin-left: 7em;
	height: 2.5em;
	margin-top: -0.8em;
}
.signupForm{
	background-color: white;
	border-radius: 0.7em;
}
.signupButton{
    margin-bottom:0.5em;
    margin-left: 5.1em;
}
.signupFormInner{
	padding-top: 0.8em;
}
.menuItems li{
    display:inline;
    padding: 1em;
    text-decoration: none;
}
.menuItems a{
    color: white;
}
.menuItems ul{
    margin-top: 1em;
}
.groupMenu li{
    border-bottom: 0.1em solid lightgrey;
    border-right: 0.1em solid lightgrey;
    display:block;
    padding: 1em;
}
.groupMenu li a{
    color:black;
}
.createGroup{
    margin-left: 2.4em;
    padding: 0.3em;
}
.createGroupButton{
    margin-left: 0.13em;
}
html .inviteInput{
    height: 2em;
    width: 50%;
    display:inline;
}
.headerRow{
    margin-bottom: 1em;
}
.inviteButton{
  height: 2.3em;
  margin-left: -0.2em;
}
.row milkButton, .row milkedButton{
    margin-left: 1em;
}
.tableWrapper{
    padding-top: 2em;
    margin-bottom:0.5em;
}
.leaderboardGlyph{
    margin-left: 0.5em;
    color: green;
}
.looserboardGlyph{
    margin-left: 0.5em;
    color: red;
}
html .table thead tr th{
    border-bottom: none;
}
html .table tbody tr td{
    border-top: none;
}
.panel-heading{
    text-align: center;
}
.milkWrapper, .historyWrapper{
    padding: 2em;
}
html body .milkDescriptionInput{
    margin-top:0.5em;
}
.milkLocationInput{
    margin-top: 0.5em;
}
.milkerAction{
    padding: 0.5em;
    display:block;
}
.milkerAction a{
    color: black
}
.milkButton{
    margin-left:1em;
}











                                      /*Modal 1*/
#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
}                                     /*DELETE*/
#overlay div {
     width:300px;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
     margin-top:33em;
     margin-left: 32.17em;
     background-color:white;
}




                                       /*Modal 2*/
#modal {
	background:#fff;
	left:50%;
	margin:-250px 0 0 -40%;
	position:absolute;
	top:-50%;
	width:80%;
	border-radius:5px;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,.25);
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#modal:target {
	top:50%;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	}
#modal header,#modal footer {
	background:#f7f7f7;
	border-bottom: 1px solid #e7e7e7;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
#modal footer {
	border:none;
	border-top: 1px solid #e7e7e7;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	}
#modal section,#modal header, #modal footer {
	padding:15px;
	z-index:200;
}
#modal h2 {
	margin:0;
}
#modal .btn {
	float:right;
	display:button;
}






