.homeWrapper{
	background-image: url("/img/milked.jpg");
    background-size: cover;
}
img {
    max-width: 100%;
}
.genericWrapper{
    background-image: url("/img/ZenBG.png");
    background-size: cover;
}
body h3, body h4{
    padding: 0.2em;
}
.wrapper{
    background-image: url("/img/ZenBG.png");
    background-size: cover;
}
nav{
    height:5em;
}
html .navbar-default{
	background-color:#337AB7;
}
.cow{
    margin-top: 0.8em;
    margin-left: 3em;
}
.smallGreen{
    color: green;
}
.smallRed{
    color: red;
}
.loginImage{
    margin-top: 1em;
    margin-left: 36em;
}
.welcomeMessage{
	color: white;
}
.welcomeMessage p{
	font-size: 1.5em;
	margin-top: 1em;
	color: white;
}
.loginForm{
	background-color: white;
	border-radius: 0.7em;
}
.loginFormInner{
	padding-top: 0.8em;
}
.loginButton{
	margin-left: 7em;
	height: 2.5em;
	margin-top: -0.8em;
}
.logOutButton{
      margin-right: 3em;
      background-color: white;
      color: #337ab7;
      margin-top: -1em;
}
html .container-fluid{
    padding-right:0;
    padding-left:0;
}
.signup{
    padding-top: 1em;
}
.signupForm{
	background-color: white;
	border-radius: 0.7em;
}
.signupButton{
    margin-bottom:0.5em;
    margin-left: 5.1em;
}
.passwordRecoveryButton{
    margin-top:0.2em;
}
.signupFormInner{
	padding-top: 0.8em;
}
.errorMessage{
    color: red;
}
.registerMessage{
    height: 15em;
    text-align: center;
}
.registerMessageHead{
    background-color: #337AB7;
    color: white;
    border-radius: 0.5em;
    text-align: center;
}
.registerMessageBody{
    line-height: 1.5em;
}
.menuItems li{
    display:inline;
    padding: 1em;
    text-decoration: none;
}
.menuItems a{
    color: white;
}
.menuItems ul{
    margin-top: 1em;
}
.groupMenu li{
    border-bottom: 0.1em solid lightgrey;
    border-right: 0.1em solid lightgrey;
    display:block;
    padding: 1em;
}
.groupName:hover{
    cursor: pointer;
}
.groupMenu li a{
    color:black;
}
.createGroup{
    margin-left: 2.4em;
    padding: 0.3em;
}
.createGroupButton{
    margin-left: 0.13em;
}
html .inviteInput{
    height: 2em;
    width: 50%;
    display:inline;
}
.headerRow{
    margin-bottom: 1em;
}
.inviteButton{
  height: 2.3em;
  margin-left: -0.2em;
}
.row milkButton, .row milkedButton{
    margin-left: 1em;
}
.tableWrapper{
    padding-top: 2em;
    margin-bottom:0.5em;
}
.leaderboardGlyph{
    margin-left: 0.5em;
    color: green;
}
.looserboardGlyph{
    margin-left: 0.5em;
    color: red;
}
html .table thead tr th{
    border-bottom: none;
}
html .table tbody tr td{
    border-top: none;
}
.panel-heading{
    text-align: center;
    color:#565F66;
}
.milkWrapper, .historyWrapper{
    padding: 2em;
}
html body .milkDescriptionInput{
    margin-top:0.5em;
}
.milkLocationInput{
    margin-top: 0.5em;
}
.milkerAction{
    padding: 0.5em;
    display:block;
}
.milkerAction a{
    color: black
}
.milkButton{
    margin-left:1em;
}
.registerSpinner{
    margin-top: -5em;
    margin-left: 2em;
}






